* {
    margin: 0;
    padding: 0;
    text-align: center;
}

#board {
    width: 970px;
    margin: auto;
}

#board-image {
    width: 600px;
    margin: auto;
    padding: 40px;
}

#board-image:hover {
    cursor: pointer;
}

.card {
    vertical-align: top;
    width: 140px;
    height: 140px;
    border: 2px solid black;
    margin: 5px;
}

.blank {
    vertical-align: top;
    width: 140px;
    height: 140px;
    border: 2px solid white;
    margin: 5px;
}

#message {
    left: 500px;
    top: 300px
}

button {
    outline: none;
    background-color: khaki;
    margin-top: 10px;
    margin-right: 10px;
    width: 100px;
    height: 40px;
    font-size: 20px;
    border: 2px solid orange;
    border-radius: 10%
}

button:hover {
    background-color: lightblue;
}
#counter {
    margin: 20px;
}