* {
    margin: 0;
    padding: 0;
    text-align: center;
}

#container {
    width: 970px;
    margin: auto;
}

.card {
    vertical-align: top;
    width: 140px;
    height: 140px;
    border: 2px solid black;
    margin: 5px;
}

#message {
    background-color: blanchedalmond;
    left: 500px;
    top: 300px
}

#counter {
    margin: 20px;
}